body, html {
  font-size: 13px;
  line-height: 21px;
  margin: 0;
}

#container {
  max-width: 1500px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.mainContent {
  width: 85%;
  display: flex;
  position: relative;
  overflow: hidden;
}